$theme_seagreen : #05a081 !default;
$theme_seagreenlight: #06b995 !default;
$theme_dark: #010606 !default;
$theme_darklight: #0c0c0c !default;
$theme_red: #ff0729 !default;
$theme-white: #ffffff !default;
